*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('path-to-your-font/Bahnschrift-Regular.ttf') format('truetype');
  }

  .gif-background {
    height: 200px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(pictures/wednesday-my-dudes-frog.gif);
}



body {

    /*background: url(pictures/zadnik_mini+25.png);*/
    /*background-image: "pictures/shapka_norm.png" ;

    /*background-size: 100%;*/
}

.shapka {
    height:100%;
    text-align: center;
    border-radius: 8px;
    background-image: url(pictures/wednesday-my-dudes-frog.gif);
    filter: blur(10px);
}



.text {
    padding-top: 10px;
    text-size-adjust: 30;
    text-align: center;
    color: rgb(7, 22, 16);
}

